extends layout
block content
  
  include nav

  div(class=['ui container grid stackable'])

    div(class=['sixteen wide column'])
      h2(class=['ui header dividing']) Pruebas disponibles
    table(class=['ui table inverted celled padded'] id='tabla_res')
        thead
          tr
            th='ID'
            th='Nombre'
            th='Descripción'
            th='Fecha_ejecucion'
            th='Estatus'
            th='Class'
            th='Ejecutar'
        tbody
          each result in tst
            tr
              td(id='idTest')=result.id
              td=result.nombre
              td=result.descripcion
              td=result.fecha_ejecucion
              td=result.estatus
              td=result.class
              td
                a(class=['ui button basic icon inverted'] href='#' data-tooltip='Ejecutar'
                data-position='top center',id='ejecutartest')
                  i(class=['share icon'])
    div(class=['seven wide column'])
        a(class=['ui button basic black'] href='http://localhost:3000/resultadoP1')= 'Historial de Ejecuciones'

  script(src='/javascripts/runtst1.js')
