extends layout

block content

    h5 Resultados de pruebas en #{name}

    table(class=['ui table celled'] id='tabla_res')
      thead
        tr
          th='ID Caso de prueba'
          th='Asert'
          th='Esperado'
          th='Recibido'
          th='Estado'
          th='Tiempo de Ejecución'
          th='Fecha'
      tbody
        each pr in tpruebas

        tr
          td=pr.id_caso_pruebas
          td=pr.nombre
          td=pr.esperado
          td=pr.obtenido
          td=pr.estatus
          td=pr.tiempo
          td=pr.created_at
